html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling if needed */
  overflow-y: auto;   /* Allow vertical scrolling */
  box-sizing: border-box;
}
#logo{
  /*background-color: rgba(255, 255, 255, 0.2)*/
}
.grecaptcha-badge{
  z-index: 1;
}
.ui-datepicker-year{
  display:none;
}
#spinner{
  position: absolute;
  width: 50px;
  height: 50px;
  top: calc(49% - 50px);
  left: calc(49% - 50px);
  z-index: 1060;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.btn{
  background-color: #FFC814;
  color: #000;
  font-weight: bold;
}
.btn:hover {
  background-color: #000;
  color: #FFC824;
  border: 2px solid #ffffff;
  transition: all .6s ease-in-out;
}
nav{
  height: 116px;
  z-index: 2;
}
#logo{
  position: sticky;
  width: 150px;
  top: 0px;
  margin-bottom: -40px;
  left: calc(50vw - (/* width */150px / 2));
  z-index: 1000;
}
#mantequilla-bg{
  background-color: rgba(255, 255, 255, 0.6);
  width: 130px;
  height: 20px;
  position: absolute;
  top: 117px;
  left: calc(50vw - (/* width */130px / 2));
  z-index: 999;
}
nav .nav-item {
  padding: 2%;
}
#hola_button{
  pointer-events: none;
  cursor: none;
  font-size: 1.1em;
}
#logoff_button{
  cursor: pointer;
  padding: .01% !important;
  font-size: 1.6em;
}
#register_button{

}
#page_content{
  min-height: calc(100vh - 100px);
}
#join_buttalove_label{
  font-size: 3em !important;
  text-align: center;
}

#register_modal label{
  font-size: 1.9em;
  display: inline-block;
}
#register_modal  i {
  font-size: 1.9em;
}
#birthday_div > i {
  font-size: 1.9em;
  margin-left: 26%;
}
span.datepicker_toggle {
  display: inline-block;
  position: relative;
  width: 80%;
  height: 38px;
}
span.datepicker_toggle_button {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.datepicker_input {
  position: sticky;
  font-size: 1.4em;
  padding: 4px 6px 4px 76px;
  font-family: "Roboto Thin", serif;
  right: 10px;
  top: 0;
  width: 90%;
  height: 100%;
  float: right;
  margin-right: -98px;
  opacity: .85;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker_input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 22px;
  top: 0;
  width: 72%;
  height: 100%;
  margin-left: -16px;
  font-size: 2em;
  paddingr: 1px;
  cursor: pointer;
  opacity: .01;
}
.toast{
  width: 40vw !important;
}
#join_buttalove_label{
  font-size: 2.3em !important;
}
#login_container button {
  display: inline !important;
}
#login_form label{
  font-size: 2em;
}
#login_form i{
  font-size: 2.7em;
}
#home_slider{
  height: 100vh;
  background-color: lightyellow;
}
.slide_image{
  position: relative;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#test_paragraph{
  min-height: 100vh;
  padding: 20%;
  background-color: #1861ac;
}
#testimonials{
  height: 76vh;
  background-color: lightsteelblue;
}
#testimonials .customer{
  padding: 4.7% 5% 5% 5%;
  text-align: center;
}
#testimonials .customer i{
  margin-top: -500px !important;
  font-size: 16em;
}
#testimonials .customer_quote{
  padding: 3%;
}

.testimonial_quote{
  font-size: 2.1em;
}

#seasonals{
  width: 100vw;
  height:100vh;
  display: inline-block;
  position: relative;
  background-image: url('../images/home/summer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay{
  position: relative;
}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
  background-color: rgba(255,255,255,.5);
}
#seasonals_heading{
  width: 28vw;
  color: white;
  background-color: rgba(0,0,0,.6);
  border-radius: 8px;
  border: 3px solid white;
  padding: .8%;
}
.header_center{
  text-align: center;
  margin: 5% auto 1% auto !important;
}

.card-group{
  margin: 2%;
}
.card{
  border: 4px solid white;
  margin: 3%;
  text-decoration: none;
}
.card:hover{
  border: 4px solid #FFC814;
}
.card img{
  max-height: 182px;
}
.card-body{
  background-color: cornsilk;
}
#footer_logo{
  padding: 2%;
  text-align: center;
  font-size: 2em;
}
.footer_overlay{
  position: relative;
}
.footer_overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
  background-color: rgba(0,0,0,.7);
}
footer .nav-item a {
  color: white !important;
}

#footer i{
  font-size: 2.5em;
}
.edit{
  display: inline-block;
  background-color: rgba(0,0,0,.6);
  color: white;
  padding: 1%;
  z-index: 99999;
}